<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_project_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final_project_app">
        <activity android:name=".custom_listBusiness"></activity>
        <activity android:name=".activity_categories" />
        <activity android:name=".activity_input_business" />
        <activity android:name=".Activity_input_clint_details" />
        <activity android:name=".activity_input_clint" />
        <activity android:name=".client_register" />
        <activity android:name=".helpers.CategoriesAdapter" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>